img {
	width: 200px;
	height: 250px;
	border-radius: 10%;
	border: 1px solid black;
}

.gallery-list {
	flex: auto;
	flex-direction: row;

}

.image-container {
	border: 2px solid gray;
	border-radius: 10%;
	text-align: center;
	margin: 20px;
	padding: 15px;
	width: 200px;
	min-width: 100px;
}

button {
	margin: 10px;
	cursor: pointer;
	width: 75px;
	height: 25px;
}