img {
	width: 200px;
	height: 250px;
	border-radius: 10%;
	border: 1px solid black;
}

.description {
	
}

.image-container {
	border: 2px solid gray;
	border-radius: 10%;
	text-align: center;
	margin: 20px;
	padding: 20px;
	width: fit-content;
	min-width: 100px;
	padding: 10px;
}

button {
	margin: 10px;
	cursor: pointer;
	width: 75px;
	height: 25px;
}